body{
    background-color:#fff;
    font: normal 15px "raleway", sans-serif;
    color: #777;
}
p{
    line-height: 20px;
    margin-bottom: 20px;
}
h1{
    font-family:"raleway", sans-serif;
   font-weight: bold;
   color: #444;
   font-size: 45px;
   margin-bottom:20px;
}
h2{
    font-weight: 300;
    color: #444;
    font-size: 55px;
    text-transform: uppercase;
    text-align:center;
    margin-bottom: 20px;
}
h3{
    font-size: 30px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    text-align:left;
    margin-bottom: 20px;
}
h4{
    font-size: 30px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    text-align:left;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: #444;
}
a:hover {
    color: #02b8dd;
}
strong{
    font-weight:bold;
}
.wrapper{
    margin: 0 auto;
    padding: 0 10px;
    width:940px;
    
}
header{
    height: 50px;
    
}
header nav{
    float:right;
    
}
header nav ul li{
    float: left;
    display: inline-block;
    margin-top: 30px;
   
    
}
header nav ul li a{
    color: #444;
    text-transform :uppercase;
    font-weight: bold;
    display: block;
    margin-right: 20px;
}

.image{
    position: relative;
    width:100%;
    margin:50px 5px 40px 5px;
    padding-top:5px;
    
    background: #e8eced no-repeat center;
}
.image h2{
    position: absolute;
    margin:50px 40px 40px 0;
}
.paragraph{
    position: relative;
    width:100%;
    margin:50px 5px 40px 5px;
    padding-top:5px;
}
.contact-title{
    margin-top:100px;
}

.fancy-header{
    background: none repeat scroll 0% 0% #999;
    color:#FFF;
    padding:5px;
    font-size:22px;
    text-align:left;
}
.clear{
    clear:both;
}
footer{
    padding:30px 0;
    background-color: #e8eced;
    height: 50px;
}

footer nav{
    float:right;
    display:center;
}
footer nav ul li{
    float: left;
    display: inline-block;
    margin-top: 30px;
    
}
footer nav ul li a{
    color: #444;
    text-transform :uppercase;
    font-weight: bold;
    display: block;
    margin-right: 20px;
}

form{
background-color: #fff;
border: none;
padding: 16px 32px;
text-decoration: none;
margin: 4px 2px;
cursor: pointer;
}


